<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790648898426-dmnt17dfardl73nkk2eclrck27o8d6hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790648898426-dmnt17dfardl73nkk2eclrck27o8d6hq</string>
	<key>API_KEY</key>
	<string>AIzaSyDiIHwATQ7EEK5Kq-qtw6l7MDILJ7kOMu8</string>
	<key>GCM_SENDER_ID</key>
	<string>790648898426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matjar</string>
	<key>PROJECT_ID</key>
	<string>matjar-7f3c6</string>
	<key>STORAGE_BUCKET</key>
	<string>matjar-7f3c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790648898426:ios:574e4cfec6625f235c8cc3</string>
	<key>DATABASE_URL</key>
	<string>https://matjar-7f3c6-default-rtdb.firebaseio.com</string>
</dict>
</plist>